body {
    background-color: #1c2939;
}

@font-face {
    font-family: BasicTitle;
    src: url(../font/basictitlefont.ttf);
}

@font-face {
    font-family: Champ;
    src: url(../font/champ.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../font/JosefinSans.ttf);
}

#header {
    width: 40vw;
    margin-left: 30vw;
    margin-top: 20vh;
    height: 24vh;
    padding-top: 4vh;

    background-color: #253447;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    border-radius: 10px;
}

#header h1 {
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    font-size: 20vh;
    color: #707e8b;
    font-family: BasicTitle;
    margin-bottom: 0;
    margin-top: 0;
}

#header h2 {
    width: 100%;
    color: #707e8b;
    text-align: center;
    font-size: 5vh;
    margin-top: -4vh;
    font-family: Josefin;
}

.listBoi {
	width: 24vw;
	display: block;
	float: left;
	margin: 0;
	padding: 0;

	margin: 2vh 1vw;
	list-style: none;
	transition: all 0.1s linear;

	overflow: hidden;

	color: #707e8b;
	background-color: #253447;

	font-family: Arial;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
	border-radius: 10px;
}

.listBoi li:first-child {
	background-color: rgba(0,0,0,0.3);

	text-align: center;
}

.listBoi li {
	/*background-color: rgba(255,255,255,0.1);*/

	/*text-align: center;*/
	padding: 0;

	height: 2vh;
	transition: all 0.1s linear;


	padding: 1vh 1vw;
}

.listBoi a {
	color: #707e8b;
	text-decoration: none;
	text-align: left;
}

.listBoi li:hover a{
	color: #253447;
}

.listBoi li:hover:not(:first-child) {


	background-color: #707e8b;
	color: #253447;
	/*background-color: rgba(255,255,255,1);*/

	z-index: 2;

	margin-top: 0vh;

	transition: all 0.1s linear;

	cursor: pointer;
}

#hhhList {
	margin-left: 24vw;
}

.loading img {
	width: auto;
	height: 8vh;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loading {
	height: 0.4vh !important;
	padding: 0 !important;

	background-image: url("../img/15.svg");
	background-repeat: no-repeat;
	  background-color: #253447;
	/*background-blend-mode: screen;*/

	background-size: cover;
}